<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->

    <link rel="stylesheet" href="/css/style.css">

    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">
                    <!-- <li><a></a></li> -->
                </ul>

                <ul class="nav navbar-right navbar-nav">
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        &nbsp;
    </div>
    <div class="container">
        <form class="form-horizontal" action="/testAzure/newMessage" method="post" >
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Image name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="name" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="description" value="Description" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Create Message" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</body>

</html>