<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= title %> EJS</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> </p>
     <div class="container">
      <p>Using cloud service: <%= cloudService %></p>
    </div>
  </body>
</html>
